<div class="container">
  @if(authService.user() === null){

  <div #slider class="slider"></div>
  <div class="btn">
    <button #loginBtn class="login">LOGIN</button>
    <button #signupBtn class="signup">SIGN UP</button>
  </div>

  <!-- Form section that contains the
             login and the signup form -->
  <div #formSection class="form-section">
    <!-- login form -->
    <div class="login-box">
      <app-login-form
        [loginStatus]="loginService.status()"
        (login)="loginService.login$.next($event)"
      />
    </div>

    <!-- signup form -->
    <div class="signup-box">
      <app-register-form
        [status]="registerService.status()"
        (register)="registerService.createUser$.next($event)"
      />
    </div>
  </div>
  } @else {
  <mat-spinner diameter="50" />
  }
</div>
