<div class="container">
  @if(!authService.sessionData().user){

  <div #slider class="slider"></div>
  <div class="btn">
    <button #loginBtn class="login">LOGIN</button>
    <button #signupBtn class="signup">SIGN UP</button>
  </div>

  <!-- Form section that contains the
             login and the signup form -->
  <div #formSection class="form-section">
    <!-- login form -->
    <div class="login-box">
      <app-login-form
        (login)="loginUser($event)"
      />
    </div>

    <!-- signup form -->
    <div class="signup-box">
      <app-register-form
      />
    </div>
  </div>
  }
</div>
