<div class="container" [ngClass]="!!isSidebarCollapsed()?'collapsed':'expanded'">
    <app-header [isSidebarCollapsed]="isSidebarCollapsed()"></app-header>

    <div class="sidebar">
      <app-sidebar (collapsedEvent)="isSidebarCollapsed.set($event)"></app-sidebar>
    </div>
    <button class="btn-general" (click)="tableType == 'material'? tableType='regular':tableType='material'">Switch Table type</button>
    <!--Re usable table component, pass the names of the columns in custom headers ng-template and the respective row data items in customRows and use anywhere-->
   @if(tableType == 'regular'){
    <p class="my-3">Regular Table</p>
     <app-report-table
     #reportTable
     [reportData]="reportData"
     (fetchReportDataEvent)="fetchReportData()"
   >
     <ng-template #customHeaders>  
       <th class="min-w-60px">Entity Name</th>
       <th class="min-w-60px">
         Entity Contact
       </th>
       <th class="min-w-60px">
         Type
       </th>
       <th class="min-w-60px">
         Extra Info
       </th>
    
     </ng-template>
     <ng-template #customRows let-item>
       <td>{{ item?.EntityName }}</td>
       <td>{{ item?.EntityContact }}</td>
       <td>{{ item?.Type }}</td>
       <td>{{ item?.ExtraInfo }}</td>
    
     </ng-template>
     </app-report-table>

     @if(totalCount>0){
      <app-pagination
      [showPageIndex]="true"
      [pageConfig]="pageConfig()"
      [pagesVisible]="pagesVisible()"
      [totalCount]="totalCount"
      (pageData)="pageUpdated($event)"
    ></app-pagination>
    }
   }@else{
    <p class="my-3">Material Table</p>
    <app-mat-table-common
    [dataSource]="reportData"
    [totalCount]="totalCount"
    [displayedColumns]="['EntityName','EntityContact','Type','ExtraInfo']">
  </app-mat-table-common>
   }

   <!-- <app-external></app-external> -->


   
    
  
  </div>