<div class="pagination-wrapper-root">
  @if(!!showPageIndex){
    <div >
     <select class="form-select-sm" [(ngModel)]="pageConfig.pageSize"
     (ngModelChange)="pageSizeChanged($event)">
     <option
     value=""
   >
     {{"select"}}
   </option>
   <option value="5">5</option>
   <option value="10">10</option>
   <option value="25">25</option>
   <option value="50">50</option>
   </select>
   
 
 </div>

  }
  @if(!!showPageIndex){

    <div class="fs-6 fw-semibold text-gray-700">
      {{ "showing" }} {{ minIndex }} {{ "to" }} {{ maxIndex }} {{ "of" }}
      {{ totalCount }}
      {{ "records" }}
    </div>
  }

  <!--begin::Pages-->
  <ul class="pagination">
    <li class="page-item previous">
      <a
        (click)="applyPagination(this.pageConfig.pageNumber - 1)"
        class="page-link"
        ><i class="prev"></i
      ></a>
    </li>

    <li class="page-item" *ngFor="let index of totalPageVisible()">
      <a
        class="page-link cursor-pointer"
        [ngClass]="index == this.pageConfig.pageNumber ? 'active' : ''"
        (click)="applyPagination(index)"
        >{{ index }}</a
      >
    </li>

    <li class="page-item next">
      <a
        (click)="applyPagination(this.pageConfig.pageNumber + 1)"
        class="page-link"
        ><i class="next'"></i
      ></a>
    </li>
  </ul>
  <!--end::Pages-->
</div>
