<div class="d-flex flex-stack flex-wrap">
  <div class="fs-6 fw-semibold text-gray-700" *ngIf="!!showPageIndex">
    {{ "showing" }} {{ minIndex }} {{ "to" }} {{ maxIndex }} {{ "of" }}
    {{ totalCount }}
    {{ "records" }}
  </div>

  <!--begin::Pages-->
  <ul class="pagination">
    <li class="page-item previous">
      <a
        (click)="applyPagination(this.pageConfig.pageNumber - 1)"
        class="page-link"
        ><i class="prev"></i
      ></a>
    </li>

    <li class="page-item" *ngFor="let index of totalPageVisible()">
      <a
        class="page-link cursor-pointer"
        [ngClass]="index == this.pageConfig.pageNumber ? 'active' : ''"
        (click)="applyPagination(index)"
        >{{ index }}</a
      >
    </li>

    <li class="page-item next">
      <a
        (click)="applyPagination(this.pageConfig.pageNumber + 1)"
        class="page-link"
        ><i class="next'"></i
      ></a>
    </li>
  </ul>
  <!--end::Pages-->
</div>
